@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Edu';
    src: url('/assets/fonts/EduAUVICWANTHand-VariableFont_wght.ttf') format('ttf');
    font-weight: 400 700;
    font-style: normal;
}

:root {
    --color-white: #ffffff;
    --color-black: #0b0b0b;
    --color-gray-100: #efefef;
    --color-gray-200: #dcdcdc;
    --color-gray-300: #bdbdbd;
    --color-gray-400: #989898;
    --color-gray-500: #656565;
    --color-gray-600: #464646;
    --color-gray-700: #383838;
    --color-gray-800: #1f1f1f;
    --color-gray-900: #141414;
    --color-primary: #5a54f1;
    --color-primary-light: #726ef3;
    --color-primary-dark: #4642b8;
    --color-danger: #ef3e3e;
    --color-danger-light: #f36e6e;
    --color-danger-dark: #b32e2e;
    --color-tomato: #da532b;
    --color-tomato-light: #edaa95;
    --color-tomato-dark: #a84425;
    --color-gold: #ecd800;
    --color-gold-light: #f6ec80;
    --color-gold-dark: #b6a705;
    --color-green: #24c072;
    --color-green-light: #92e0b9;
    --color-green-dark: #20955b;
    --color-mint: #12dccb;
    --color-mint-light: #89eee6;
    --color-mint-dark: #13aa9d;
    --color-blue: #1288dc;
    --color-blue-light: #89c4ee;
    --color-blue-dark: #136baa;

    --foreground-rgb: 11, 11, 11;
    --background: var(--color-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-white: #ffffff;
        --color-black: #0b0b0b;
        --color-gray-100: #141414;
        --color-gray-200: #1f1f1f;
        --color-gray-300: #383838;
        --color-gray-400: #464646;
        --color-gray-500: #656565;
        --color-gray-600: #989898;
        --color-gray-700: #bdbdbd;
        --color-gray-800: #dcdcdc;
        --color-gray-900: #efefef;
        --color-primary: #726ef3;
        --color-primary-light: #5a54f1;
        --color-primary-dark: #4642b8;
        /* 다크 모드에서 다른 색상들도 필요에 따라 조정 */

        --foreground-rgb: 255, 255, 255;
        --background: var(--color-black);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background);

    @apply max-w-[600px] mx-auto min-h-screen box-border relative outline outline-gray-100 dark:outline-gray-800;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
}

.h-13 {
    height: 52px;
}
.pt-15 {
    padding-top: 60px;
}
