@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Edu';
    src: url('/assets/fonts/EduAUVICWANTHand-VariableFont_wght.ttf') format('ttf');
    font-weight: 400 700;
    font-style: normal;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background: #141414;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background);

    @apply max-w-[600px] mx-auto min-h-screen box-border relative outline outline-gray-800;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
